name: Rust Test

on:
  push:
    branches: [ "main", "master" ]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  pull_request:
    branches: [ "main", "master" ]
    paths-ignore:
      - '**.md'
      - 'LICENSE'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy

    - name: Install Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libx11-dev libasound2-dev libudev-dev

    - name: Check Formatting
      run: cargo fmt -- --check

    - name: Clippy (Linting)
      run: cargo clippy -- -D warnings

    - name: Run Tests
      run: cargo test --verbose

    - name: Install Nightly Rust
      uses: dtolnay/rust-toolchain@nightly

    - name: Install cargo-udeps
      uses: taiki-e/install-action@cargo-udeps

    - name: Check Unused Dependencies
      run: cargo +nightly udeps
